.idea/
coverage.txt
*.h
*.o
aws-eks-na-cli
aws-eks-na-cli-v6
controller
bin/
config/
vendor/
scripts/results.log
amazon-network-policy-controller-k8s

# Test build files
test/build/

results.log
eks-cluster.yaml